<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ConnectMe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApplication">
        <activity
            android:name="com.example.ConnectMe.Messages.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.slideInfo.slideinfoActivity"
            android:exported="false"
            android:theme="@style/Theme.ChatApplication.NoActionBar" />
        <activity
            android:name="com.example.ConnectMe.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ChatApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ConnectMe.passwords.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.passwords.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.Authentication.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ConnectMe.Authentication.LoginActivity"
            android:exported="true" />
    </application>

</manifest>